/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: white;
}
a:hover {
  font-weight: bold;
  font-size: 125%
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #0568BF;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
    font-size: 125%
}
.nav li {
  padding: 5px 10px 4px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  padding-top: 60px;
}

.index-header {
  text-align: center;
  background: url('images/calgary.jpg') no-repeat top center;
  background-size: contain;
  overflow: hidden;
  background-attachment: fixed;
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 1s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  background-color: #efefef;
  color: #076CC5;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  font-size: 1em;
  background-color: #222;
  color: white;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

.highlight {
  font-size: 130%;
  color: #0088FF;
  font-weight: bold;
}

section:hover{
  transform: scale(1.1);
  box-shadow: 5px 10px 15px #DEE2E5;
  transition: all .5s;

}

.index-main {
  text-align: center;
  background: url('images/developer-pic.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding: 30px 0px;
}

.exp-header {
  text-align: right;
  background: url('images/experience.jpg') no-repeat top center;
  background-size: contain;
  overflow: hidden;
  background-attachment: fixed;
}

.exp-header h1, .exp-header h3{
  margin-right: 80px;
}

.exp-header h1{
  margin-top: 60px;
  color: #BF5E5E;
  font-weight: bold;
  text-shadow: 2px 2px 10px grey;
}

body .exp-card{
  font-size: 1.1em;
  margin: 30px 100px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  line-height: 1.4;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.company{
  font-weight: bold;
  text-decoration: underline;
}

.place, .period{
  text-align: right;
}

body .exp-card .intro li{
  display:inline-block;
  float: left;
  width: 50%;
}

.contact a{
  margin: 100px 120px;
  color: black;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 100%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  main h2{
    text-align: center;
  }
